html {
  min-width: 300px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #111;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  background-color: #F8F8F8;
}


h1, h2 {
  font-family: 'Viga', sans-serif;
  letter-spacing: 2px;
}

h1 {
  text-transform: uppercase;
  font-size: 4vw;
  text-align: left;
}

h2 {
  font-size: 5vw;
  text-transform: uppercase;
  margin-top: 70px;
}

a:hover,
a.active {
  color: #143ff4;
}

.header {
  width: 100%;
  height: 400px;
  margin: 0px;
  padding: 0px;
  top: 0px;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #143ff4;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  top: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: 'Viga', sans-serif;
  font-size: 1.75vw;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover,
nav a.active {
  color: #143ff4;
  background-color: white;
  border-radius: 4px;
}

.banner {
  background-image: url(/assets/images/header-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  position: relative;
  display: flex;
}

.text-logo {
  width: 100%;
  height: 350px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Viga', sans-serif;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  font-size: 4vw;
  z-index: 25;
}

.logo-word {
  width: 30%;
}

.banner::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
}

.logo {
  background-image: url(/assets/images/liberation-philly-logo.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 10%;
  height:40%;
  margin: 0px -5px 0px 10px;
  z-index: 1;
  position: relative;
  filter: brightness(1000%);
}

.all-content {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 1000px;
  min-height: 600px;
  margin: 0 auto;
}

.upcoming-events {
  background-color: #d9d9d9;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.event {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-left: 20px;
}

.event-details {
  width: 390px;
  height: 110px;
  margin: 10px;
  padding-right: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: -10px;
}

.event h3,h4 {
  margin: 0px;
}

.signup-button {
  color: white;
  background-color: #143ff4;
  width: 30%;
  margin: 20px;
  padding: 5px 20px 8px;
  text-decoration: none;
  display: block;
  border-radius: 4px;
}

.signup-button:hover,
.signup-button.active {
  color: #143ff4;
  background-color: white;
  border-radius: 4px;
}

.calendar-icon {
  background-image: url(/assets/images/calendar-icon.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .75;
  width: 25%;
  height: 15vw;
  margin: 15px;
  margin-right: -12px;
}

#event-1, #event-3 {
  border-right-color: #4F4F4F;
  border-right-width: 3px;
  border-right-style: solid;
}

#event-1, #event-2 {
  border-bottom-color: #4F4F4F;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  margin-top:10px;
}


.subscribe-button {
  width: 90%;
  display: flex;
  text-align: center;
  background-color: #143ff4;
  color: white;
  margin: 10px;
  border-radius: 4px;
  margin: 15px auto;
  padding: 5px;
  text-decoration: none;
}


.subscribe-button h2 {
  margin: 0px auto;
  font-size: 3vw;
}

.subscribe-button:hover {
  color: #143ff4;
  background-color: white;
  border-radius: 4px;
}

.info-section p {
  margin-left: 100px;
}

.info-section {
  margin-bottom: 150px;
}


.call-to-action-button {
  display: block;
  text-align: center;
  background-color: #143ff4;
  color: white;
  border-radius: 4px;
  margin: 30px 10px 15px auto;
  padding: 3px;
  text-decoration: none;
  width: 40%;
}

.call-to-action-button h3 {
  margin: 0px auto;
  padding: 2px;
  font-size: 2.5vw;
  text-transform: uppercase;
}

.call-to-action-button:hover {
  color: #143ff4;
  background-color: white;
  border-radius: 4px;
}


.social-icons {
  margin: 20px 0;
  a i {
    font-size: 36px;
    padding: 4px;
  }
}


footer {
  width: 100%;
  margin-top: 50px;
  background-color: #143ff4;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
}

footer a {
  color: white;
}

footer a:hover,
footer a.active {
  color: #FFFF00;
}

.footer-tag {
  font-family: 'Viga', sans-serif;
  letter-spacing: 2px;
  font-size: 3vw;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin: -25px auto;
}

.footer-tag h2 {
  margin: 20px auto;
  font-size: 4vw;
}

.social-icons a {
  text-decoration: none;
}
