{% extends "_base.njk" %}

{% block title %}
<div class"logo-word">About Us</div>
{% endblock %}


{% block content %}
<h2>Our Organizing Principles</h2>

<div class="home-content">

  <div class="info-section">
    <h2>Our Tactics</h2>
    <h3>Save/Bearing Witness</h3>
      <p>Liberation Philly founded the Philly Farmed Animal Save chapter, bringing the powerful love-based movement of bearing witness into the heart of the city. We host vigils outside of slaughterhouses- mourning the lives taken, and showing a moment of compassion to those about to be killed.</p>
    <h3>Non-Violent Direct Action</h3>
      <p>We have learned from the counter sit-ins of the civil rights movement, political disruptions of the women's suffrage movement, and die-ins of the AIDS movement. These protests serve to generate a social crisis around an issue so great that it can no longer be ignored.</p>
    <h3>Open Rescue</h3>
      <p>Open rescue goes unmasked into the heart of darkness. OR activists expose the truth behind animal exploitation industries to the public, and save lives. The individuals rescued receive medical care, and are taken to sanctuaries where they can forever be happy, safe, and free.</p>
  </div>

  <div class="info-section">
    <h2>Our Organizing Principles</h2>
    <h3>Non-Heirarchical</h3>
      <p>We are a non-heirarchical, grassroots group - which means we do not have "leaders". Important decissions and direction are formed through consensus-based decission making. Day to day decissions and planning are done through "working groups" which include tech, protest, Save, art, outreach, and more. Anyone may join a working group as long as they are willing to contribute! We have weekly "All Working Groups" meetings which are chance for each group to check in and work on higher-level projects together.</p>
    <h3>Amplifying Marginalized Voices</h3>
      <p>While racism and sexism pervade both society at large and the animal rights movement, we aim to create a space which prioritizes the safety and voices of women and people of color. Our women-centered spaces and events empower women to shape the anti-speciest narrative through a radical feminist framework and form connections with other female leaders. We strive to work with marginalized communites to ensure our message is not contributing to the oppression of any other group of people.</p>
  </div>


</div>


{% endblock %}
