{% extends "_base.njk" %}

{% block title %}
<div class"logo-word">Contact Us</div>
{% endblock %}


{% block content %}
<h2>Get in touch</h2>

<div class="contact-section">
  <div class="contact-info">
    <h4>Press</h4>
    <p>Mary Kate Fain</p>
    <p>mkfain1@gmail.com</p>
  </div>

  <div class="contact-info">
    <h4>Community Outreach</h4>
    <p>Mahika Gupta</p>
    <p>email@gmail.com</p>
  </div>

  <div class="contact-info">
    <h4>Protests</h4>
    <p>Mary Kate Fain</p>
    <p>mkfain1@gmail.com</p>
  </div>

  <div class="contact-info">
    <h4>The Liberation Pledge</h4>
    <p>Alex Gleason</p>
    <p>email@gmail.com</p>
  </div>


  <div class="contact-info">
    <h4>Sanctuary Volunteering</h4>
    <p>Mansi Bahgwatte</p>
    <p>email@gmail.com</p>
  </div>


  <div class="contact-info">
    <h4>Donor questions</h4>
    <p>Alex Gleason</p>
    <p>email@gmail.com</p>
  </div>

  <div class="contact-info">
    <h4>Philly Farmed Animal Save</h4>
    <p>Mary Kate Fain</p>
    <p>mkfain1@gmail.com</p>
  </div>

</div>

<form method="post" id="subscribe-form">
  <input id="email-field" type="text" name="email" value="yourname@email.com" onclick="clearField()">
  <input class="subscribe-button" type="submit" value="Subscribe to events">
</form>

{% endblock %}
