{% extends "_base.njk" %}

{% block title %}
<div class"logo-word">Upcoming Events</div>
{% endblock %}


{% block content %}

<a name="event1"></a>
<div class ="event-page-item">
  <h3>Weekly Planning Meetings</h4>
  <h4>Every Monday Night</h4>
  <h4>6:30 pm - 9:00 pm</h4>
  <p>Join us every Monday night at Uptwinkles for dinner and our planning meeting. Meetings are open to anyone who is interested in getting more involved with organizing for Liberation Philly, has input to share on a particular topic to be discussed, or is generally curious about how we work.</p>
  <p>Please let Mary Kate know if you plan to attend, so we can account for you in the dinner plan!<p>
  <a href="mailto:mkfain@gmail.com?Subject=RSVP%20for%20Weekly%20Meeting" target="_blank">RSVP</a>
</div>

<a name="event3"></a>
<div class ="event-page-item">
  <h3>Liberation Pledge Meetup</h4>
  <h4>Sunday, November 12th</h4>
  <h4>1:00 pm - 3:00 pm</h4>
  <p>Pre-Thanksgiving Liberation Pledge Inspiration/Vent Sesh!</p>
  <p>Details to be announced!</p>
  <p>RSVPs are helpful in planning, but not mandatory. Bring a friend!<p>
  <a href="mailto:mkfain@gmail.com?Subject=RSVP%20for%October%20DoA" target="_blank">RSVP</a>
</div>

<a name="event4"></a>
<div class ="event-page-item">
  <h3>Philly Farmed Animal Save - Vigil</h4>
  <h4>Saturday, November 18th</h4>
  <h4>noon - 6:00pm</h4>
  <p>Join us in bearing witness and paying respect to just a few of the billions of lives losts. The first Save Movement vigil in Philly we be hosts at a local slaughterhouse, signs and candles will be provided. Please wear black if possible. The event location will be released shortly before the event.</p>
  <p>RSVP to get event updates.<p>
  <a href="mailto:mkfain@gmail.com?Subject=RSVP%20for%November%20Vigil" target="_blank">RSVP</a></div>
</div>

<a name="event2"></a>
<div class ="event-page-item">
  <h3>November Day of Action</h4>
  <h4>Tuesday, November 21st</h4>
  <h4>5:30 pm - 8:30 pm</h4>
  <p>Take Action for Animals this Thanksgiving!</p>
  <p>Details to be announced!</p>

  <p>RSVPs are helpful in planning, but not mandatory. Bring a friend!<p>
  <a href="mailto:mkfain@gmail.com?Subject=RSVP%20for%October%20DoA" target="_blank">RSVP</a>
</div>

<form method="post" id="subscribe-form" action="https://lists.liberationphilly.org/subscribe/campaigns">
  <input id="email-field" type="text" name="email" placeholder="yourname@email.com">
  <input class="subscribe-button" type="submit" value="Subscribe to events">
</form>


{% endblock %}
