{% extends "_base.njk" %}

{% block title %}
<div class"logo-word">Upcoming Events</div>
{% endblock %}


{% block content %}

<a name="event1"></a>
<div class ="event-page-item">
  <h3><a href="https://www.facebook.com/events/1991990627689273/">New Activist Orientation</a></h3>
  <h4>Sunday, January 14</h4>
  <h4>1:00 pm &ndash; 4:00 pm</h4>
  <h4>2132 Ellsworth St, Philadelphia, PA 19146-2828, United States</h4>
  <p>Do you care about animal suffering? Do you wish you had the power to do something about it? Join us and learn how you can make a difference for animals!<br>
Liberation Philly is creating a massive movement for animals in this city. Based on the tactics of past social justice movement and social science, we aim to generate a crisis that can no longer be ignored.<br>
But we need <strong>YOU</strong>. Join us for this orientation and learn how you can get involved in the movement, and make a difference for animals.

<br><br><em>We will cover:</em></p>
<ul><small><li>Who we are</li>
<li>The history of social change</li>
<li>How to apply what we know about social change to animal rights</li>
<li>Taking non-violent direct action</li>
<li>Movement building</li>
</small></ul>
</div>

<a name="event2"></a>
<div class ="event-page-item">
  <h3><a href= "https://www.facebook.com/events/1868224116822205/">Philly Farmed Animal Save - Slaughterhouse Vigil</a></h3>
  <h4>Sunday, January 21</h4>
  <h4>12:00 pm &ndash; 3:00 pm</h4>
  <h4>Saba Live Poultry- <small>162 W Lehigh Ave, Philadelphia, Pennsylvania 19133</small></h4>
  <p>Join us in bearing witness and paying respect to just a few of the billions of lives losts. Signs and candles will be provided. Please wear black if possible. </p>
</div>

<a name="event3"></a>
<div class ="event-page-item">
  <h3><a href="https://www.facebook.com/events/988887757930304/">Cube of Truth</a></h3>
  <h4>Sunday, January 28</h4>
  <h4>11:00 am &ndash; 2:00 pm</h4>
  <h4>Rittenhouse Square, Philadelphia, PA 19103<h4>
  <p>Liberation Philly is partnering with Anonymous for the Voiceless to bring the Cube of Truth to Philly!</p>
  <p>Join us in new monthly events in bringing awareness to public about the horrors of animal agriculture, and educating the community about a more compassionate lifestyle.</p>
  <p>All are welcome!</p>
</div>

<a name="event4"></a>
<div class ="event-page-item">
  <h3><a href="https://www.facebook.com/events/290285748158876/">*Postponed: Day of Action</a></h3>
  <h4>Date TBD</h4>
  <h4>Time TBD</h4>
  <p>"Peace on Earth and Goodwill for All" - right?</p>
  <p>Join us in a march through Center City as we raise awareness about the most oppressed, exploited, and forgotten individuals on our planet - individuals who have the same right to peace as all of us.</p>
  <p>We will meet at a location in Center City to be announced, and march through a popular downtown location. This will be a peaceful, non-violent demonstration with the goal of getting the issue of animal rights "on the table".</p>
</div>

<form method="post" id="subscribe-form" action="https://lists.liberationphilly.org/subscribe/campaigns">
  <input id="email-field" type="text" name="email" placeholder="yourname@email.com">
  <input class="subscribe-button" type="submit" value="Subscribe to events">
</form>


{% endblock %}
