{% extends "_base.njk" %}

{% block title %}
<div class"logo-word">Upcoming Events</div>
{% endblock %}


{% block content %}

<a name="event1"></a>
<div class ="event-page-item">
  <h3>Weekly Planning Meetings</h3>
  <h4>Every Monday Night</h4>
  <h4>6:30 pm - 9:00 pm</h4>
  <p>Join us every Monday night at Uptwinkles for dinner and our planning meeting. Meetings are open to anyone who is interested in getting more involved with organizing for Liberation Philly, has input to share on a particular topic to be discussed, or is generally curious about how we work.</p>
</div>

<a name="event2"></a>
<div class ="event-page-item">
  <h3>Philly Farmed Animal Save - Slaughterhouse Vigil</h3>
  <h4>Saturday, December 16th</h4>
  <h4>4:00 pm - 6:00pm</h4>
  <h4>Saba Live Poultry</h4>
  <p>Join us in bearing witness and paying respect to just a few of the billions of lives losts. Signs and candles will be provided. Please wear black if possible. </p>
</div>
</div>

<a name="event3"></a>
<div class ="event-page-item">
  <h3>Liberation Pledge Meetup</h3>
  <h4>Saturday, November 25th</h4>
  <h4>7:00 pm - 9:00 pm</h4>
  <p>Have you taken the Liberation Pledge, or are you pledge-curious? Join us for a vegan potluck dinner the Saturday after thanksgiving!</p>
  <p>Vent about your Thanksgiving pledge struggles, or share the successes you've had in making your family more animal-friendly.</p>
  <p>All are welcome!</p>
</div>

<a name="event4"></a>
<div class ="event-page-item">
  <h3>December Day of Action</h3>
  <h4>Saturday, December 23rd</h4>
  <h4>1:00 pm - 3:00 pm</h4>
  <p>"Peace on Earth and Goodwill for All" - right?</p>
  <p>Join us in a march through Center City as we raise awareness about the most oppressed, exploited, and forgotten individuals on our planet - individuals who have the same right to peace as all of us.</p>
  <p>We will meet at a location in Center City to be announced, and march through a popular downtown location. This will be a peaceful, non-violent demonstration with the goal of getting the issue of animal rights "on the table".</p>
</div>

<form method="post" id="subscribe-form" action="https://lists.liberationphilly.org/subscribe/campaigns">
  <input id="email-field" type="text" name="email" placeholder="yourname@email.com">
  <input class="subscribe-button" type="submit" value="Subscribe to events">
</form>


{% endblock %}
