{% extends "_base.njk" %}

{% block title %}
<div class"logo-word">Liberation</div>
<div class="logo"></div>
<div class"logo-word">Philadelphia</div>
{% endblock %}


{% block content %}
<div class="home-content">
  <div class="home-events-and-text">
    <div id="calendar-head">
      <h2 id="event-header">Upcoming Events</h2>
      <a href="/events" class="view-more">
        <h3>View all</h3>
      </a>
    </div>

    <div class="upcoming-events">

      <div class="event" id="event-1">
        <div class="calendar-icon"></div>
        <div class="event-details">
          <h3>Planning Meetings</h3>
          <h4>Every Monday Night</h4>
          <h4>6:30 pm - 9:00 pm</h4>
          <a href="/events#event1" class="signup-button" id="event1">
            <h3>View details</h3>
          </a>
        </div>
      </div>

      <div class="event" id="event-2">
        <div class="calendar-icon"></div>
        <div class="event-details">
          <h3>Monthly Day of Action</h3>
          <h4>Sunday, Sept. 24th</h4>
          <h4>1:00 pm - 3:00 pm</h4>
          <a href="/events#event2" class="signup-button" id="event2">
            <h3>View details</h3>
          </a>
        </div>
      </div>

      <div class="event" id="event-3">
        <div class="calendar-icon"></div>
        <div class="event-details">
          <h3>Sanctuary Volunteer Day</h3>
          <h4>Saturday, Oct 14th</h4>
          <h4>9:00 am - 5:00 pm</h4>
          <a href="/events#event3" class="signup-button" id="event3">
            <h3>View details</h3>
          </a>
        </div>
      </div>

      <div class="event" id="event-4">
        <div class="calendar-icon"></div>
        <div class="event-details">
          <h3>First Save Vigil</h3>
          <h4>Sunday, Nov 18th</h4>
          <h4>1:00 pm - 3:00 pm</h4>
          <a href="/events#event4" class="signup-button" id="event4">
            <h3>View details</h3>
          </a>
        </div>
      </div>

      <form method="post" id="subscribe-form">
        <input id="email-field" type="text" name="email" value="yourname@email.com" onclick="clearField()">
        <input class="subscribe-button" type="submit" value="Subscribe to events">
      </form>

      <div class="form_div" id="hidden_form">
        <h3>Sign up for an Event</h3>
        <div class="close" onclick="hideDiv()"><p>x</p></div>
      </div>

    </div>

    <div class="info-section">
      <h2>Together, we can achieve animal liberation</h2>
      <p>We believe in a world were are sentient beings, human and non-human, are free from the bonds of oppression. We have seen throughout history groups of oppressed people overthrow their masters and take back their inalliable rights - and we know that non-human's time is just around the corner. To many, "animal liberation" is a distanct theoretic concept, but to us it is an inevitability. We just need to show up for it. </p>
      <p>Liberation Philly is dedicated to being a feminist and anti-racist organization, and follows non-hierarchical organizing priciples. We encourage people from all walks of life to get involved. We have <a href="/events">something</a> for everyone!</p>
      <a href="/events#evet5" class="call-to-action-button">
        <h3>Join the Movement</h3>
      </a>
    </div>

    <div class="info-section">
      <h2>Based on past social justice movements</h2>
      <p>Unlike other animal rights groups, we opperate based on the successes on past social justice movements, and use history and social science to guide our actions and decissions. We use tactics that have a long history of raising societal consiousness, sparking conversation, and pushing a silenced issue to the forefront of debate.</p>
      <p>Non-violent direct action and civil disobedience have been used with overwhelming success across the world. From Ghandi to Martin Luther King Jr, to Emmeline Pankhurst, non-violent direct action has proven to mobilize the masses. This is the mobilization we are now creating for animal liberation.</p>
      <a href="https://www.directactioneverywhere.com/direct-action-everywhere-evidence" target="_blank" class="call-to-action-button">
        <h3>Learn More</h3>
      </a>
    </div>

    <div class="info-section">
      <h2>Open Rescue: Telling their stories</h2>
      <p>Open rescue boldy goes where animal activists have been going for decades: into the heart of darkness of industries that abuse and kill animals for profit. Open rescue tells the stories of indiduals who have suffered in these institutions, both those who were saved, and those were could not be, and spreads hope for change. Open rescue inspires normal people to take action.</p>
      <p>Animal care is a priority to rescuers, who provide for loving forever-homes and life-long care for every animal they rescue. We encourage anyone who can to open their homes to animals in need of safety, or to support open rescue however they are able.</p>
      <a href="/open_rescue" class="call-to-action-button">
        <h3>Support Open Rescue</h3>
      </a>
    </div>

  </div>
</div>
{% endblock %}
