{% extends "_base.njk" %}

{% block title %}
<div class"logo-word">The Liberation Pledge</div>
{% endblock %}


{% block content %}
<h2>Join a growing community of anti-speciesist vegans!</h2>

<div class ="event-page-item">
  <h3>Next Liberation Pledge Meetup:</h3>
  <h4>Saturday, October 21st</h4>
  <h4>11:00 am - 1:00 pm</h4>
  <p>Come out for a vegan potluck brunch and meet the growing community of Philly Liberation Pledgers! Ask questions about the pledge, share your successes and failures, and learn about making your pledge more effective. This event is open to both current pledgers and those currious about the pledge or veganism. Feel free to bring a curious friend!</p>
  <p>Don't forget to bring a dish to share! This is a dry event, as is family-friendly. RSVPs are appreciated.</p>
</div>

<h2>What is the pledge?</h2>
<a href=""><h3>Learn more!</h3></a>
{% endblock %}
