{% extends "_base.njk" %}

{% block title %}
<div class"logo-word">Open Rescue</div>
{% endblock %}


{% block content %}
<h2>Open Rescue is going to change the world for animals.</h2>

<h3>Coming soon to Philly!</h3>

<!--
<a href="" class="call-to-action-button">
  <h3>Support Open Rescue</h3>
</a>
-->

{% endblock %}
